@import "variables.scss";

#app {
    font: $basicSize 'Maitree', 'Helvetica Name', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: $backColor;
}

.exph2 {    
    font-size: $basicSize + 12pt;
    margin: 0px;
}

.customh3 {
    font-size: $basicSize + 2pt;
    margin-bottom: 15px;
}

.row {
    margin-bottom: 15px;
}

.workexp{
    margin-top: 20px;
    margin-bottom: 25px;
}

.column2 {
    margin-left: 15px;
    margin-right: 15px;
}
.span-basic-font-size {
    font-size: $basicSize;
}
.span-presentation-font-size {
    font-size: $basicSize;
    font-weight: bold;
}
.btn {
    font-size: $basicSize;
}
.exp{
    margin-top: 30px;
    background-color: $white;
}
.presentationcol{
    margin-top: 30px;
    background-color: $backColorPres;
}
.presentationcontent{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    color: $white;
}
.presentationborder{
    border-style: solid;
    border-color: $white;
    border-width: 1px;
}
@media(min-width:768px) {
    #app {
        font-size: $basicSize;
    }
    .span-basic-font-size {
        font-size: $basicSize;
    }
    .span-presentation-font-size {
        font-size: $basicSize;
        font-weight: bold;
    }
}

@media(min-width:1024px) {
    #app {
        font-size: $basicSize;
    }
    .span-basic-font-size {
        font-size: $basicSize;
    }
    .span-presentation-font-size {
        font-size: $basicSize;
        font-weight: bold;
    }
    .column2 {
        margin-left: 0;
        margin-right: 30px;
    }
}