@import "variables.scss";

#app {
    font: $basicSize 'Roboto', 'Helvetica Name', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: $backColor;
}

.exph2 {    
    font-size: $basicSize + 10pt;
    margin: 0px;
}

.customh3 {
    font-size: $basicSize + 2pt;
    margin-bottom: 15px;
}

.row-prez {
    margin-bottom: 15px;
}

.workexp {
    margin-top: 20px;
    margin-bottom: 25px;
}
.margin-left-small {
    margin-left: 5px;
}
.column2 {
    margin-left: 15px;
    margin-right: 15px;
}
.span-basic-large {
    font-size: $basicSize + 5pt;
}
.span-basic {
    font-size: $basicSize + 2pt;
}
.span-basic-1pt {
    font-size: $basicSize + 1pt;
}
.span-basic-small {
    font-size: $basicSize;
}
.thick {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.blu {
    color: blue;
}
.span-basic-font-size {
    font-size: $basicSize;
}
.span-presentation-font-size {
    font-size: $basicSize;
    font-weight: bold;
}
.btn {
    font-size: $basicSize;
}
.exp {
    margin-top: 30px;
    background-color: $white;
}
.presentationcol {
    margin-top: 30px;
    background-color: $backColorPres;
    color: $white;
}
.presentationcontent {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;    
    border-bottom: 1px solid #4783c2;
    p {
        margin-bottom: 15pt;
        text-align: center;
    }
}

.presentationborder {
    border-bottom: 1px solid #4783c2;
    margin-bottom: 5pt;
}
.divImg {
    text-align: center;
}
.imgSize { 
    font-size: $basicSize + 10pt;  
}
.imgPresentation { 
    font-size: $basicSize + 5pt;
    text-align: center;
    margin-bottom: 2pt;
}
.description {
    margin-top:5px;
    font-size: $basicSize + 2pt; 
}
.professional-skills {
    font-weight: bold;
    margin-top: 20px;
    font-size: 12pt; 
}
@media(min-width:768px) {
    #app {
        font-size: $basicSize;
    }
    .span-basic-font-size {
        font-size: $basicSize + 2pt;
    }
    .span-presentation-font-size {
        font-size: $basicSize + 5pt;
        font-weight: bold;
    }
    .divImg{
        text-align: left;
        width: 100%;
    }
    .imgSize { 
        font-size: 30pt;  
    }
    .workexp {
        text-align: left;
    }
    .description {
        margin-top:5px;
        font-size: 13pt; 
    }
    .professional-skills {
        margin: 0;
    }
}

@media(min-width:1024px) {
    .column2 {
        margin-left: 0;
        margin-right: 30px;
    }
    .imgPresentation { 
        text-align: left;
        margin: 0;
    }
    .presentationcontent p {
        text-align: left;
    }
    .description {
        margin-top: 5px;
        font-size: $basicSize;
    }
}


// Resetting default styles
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// Fix for jumping arrows
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}

.carousel {
  position: relative;
  margin-top: 15px;
}

// Carousel slides
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;

  @media (max-width: 991px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  &--active {
    display: block;
  }
}

.carousel__slides {
    overflow: hidden;
}

// Content of slides
.carousel-slide__content {
  margin-bottom: 19px;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;

  @media (max-width: $breakpoint-desktop - 1px) {
    font-size: 18px;
  }
}

.carousel-slide__author,
.carousel-slide__source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;

  @media (min-width: $breakpoint-desktop) {
    font-size: 16px;
  }
}

.carousel-slide__source {
  font-style: italic;
  color: #888;
}

.photo {
    border-radius: 49%;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

// Carousel arrows
.carousel__arrow {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 20%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .5;
  }

  &--left {
    left: 32px;
    text-align: left;
  }

  &--right {
    right: 32px;
    text-align: center;
  }
}

// Carousel indicators
.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;

  li {
    &:nth-of-type(n + 2) {
      margin-left: 9px;
    }
  }
}

.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #111;
  cursor: pointer;
  opacity: .15;
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:hover {
    opacity: .5;
  }

  &--active {
    &,
    &:hover {
      opacity: .75;
    }
  }
}
